.footer {
  position: relative;
  background-color: #0a2750;
  overflow: hidden;
  padding: 60px 80px;
  color: white;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 105px;
  height: 39px;
  z-index: 1;
}

.footer__circle {
  position: absolute;
  top: -128px;
  left: -44px;
  background-color: #2f80ed;
  height: 340px;
  width: 340px;
  border-radius: 50%;
}

.footer__social {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.footer__social-heading {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  list-style: none;
}

.footer__list-item {
  font-size: 16px;
  line-height: 20px;
}

.footer__social-link {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.footer__social-link:focus,
.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  align-self: center;
}

.footer__copyright {
  margin-top: 108px;
  font-size: 16px;
  line-height: 20px;
}
