.form {
  max-width: 385px;
  display: flex;
}

.form__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  column-gap: 12px;
  align-self: center;
}

.form__input {
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 32px;
  height: 60px;
  padding: 15px 20px;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  border-radius: 4px;
  max-width: 385px;
  height: 60px;
  background-color: #2f80ed;
  margin-bottom: 32px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: white;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
}
