.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  margin: 30px 0 0 30px;
}

.nav__links {
  list-style: none;
  margin: 30px 80px 0 0;
  display: flex;
  flex-direction: row;
}

.nav__link {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link:hover {
  color: #2f80ed;
}
