.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  color: white;
  padding: 0 0 215px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.recipes__title {
  max-width: 580px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 100px 0 0 80px;
}

.recipes__subtitle {
  margin: 24px 0 0 80px;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  margin: 80px auto 0;
  display: flex;
  column-gap: 40px;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.recipes__iframe {
  height: 273px;
  width: 480px;
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
